<h3>Add User</h3>
<form #recievedUser="ngForm">

  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="user.name" name="name">

  <label for="address">Address</label>
  <input type="address" class="form-control" id="address" placeholder="1234 Main St" [(ngModel)]="user.address" name="address">

  <label for="email">Email</label>
  <input type="email" class="form-control" id="email" placeholder="abc@email.com" [(ngModel)]="user.email" name="email">

  <label for="phone">Phone</label>
  <input type="phone" class="form-control" id="phone" placeholder="Phone" [(ngModel)]="user.phone" name="phone">

  <label for="password">Password</label>
  <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="user.password" name="password">

   <br>
  <button type="button" class="btn btn-success" (click)="addUser()">Save</button>
</form>