<header class='masthead'>
    <h1 class='masthead-heading'>Hi I'm Layia!</h1>
  </header>
  <section class="introduction-section">
      <h1>Introduction</h1>
      <p>I am 9 years old.</p>
      <p>My favorite color is red, my favorite thing to do is play, and I make amazing, fantastic, beautiful candles. </p>
  </section>
  <section class="location-section">
      <h1>Where I'm From</h1>
      <p>I'm originally from Milwaukee, Wisconsin. </p>
  </section>
  <section class="questions-section">
      <h1>More About Me</h1>
      <h2>What are your favorite hobbies?</h2>
      <p>My favorite hobbies are gymnastics, soccer and of course making candles!</p>
      <h2>What's your dream job?</h2>
      <p>My dream job is to be a famous Youtuber!!.</p>
      <h2>Where do you live?</h2>
      <p>I live in Atlanta Georgia with my Mommy, Daddy, little brother Jacob and soon baby sister Aria.</p>
      <h2>Why do you want to make candles?</h2>
      <p>I want to make candle so everyone house can smell amazing!</p>
      <a class="btn btn-outline-success btn-sm" role="button"(click)="goShop()">Shop</a>
  </section>